.searchbar1 {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    
    
}
.searchbar2 { 
    display: flex;
	flex-direction: row;
	align-items:center;
    padding: 1vh;
    row-gap: 5px;
    
    
    
}
.searchbar3 {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
    
    
}
input{
    border-radius:20px;
    border-color:rgb(45, 45, 211)

}
body{
    background-color: teal;
}
input[type=submit]{
    background-color: rgb(45, 45, 211);
    color: white;
    width: 10vh;
    height: 3vh;
    font-size: calc(.1vw + .5rem);
    border-radius: 2px;
    margin: 1vh;
    
    

    
}
input[type=text]{
    width: 30vh;
    height: 3vh;
    font-size: calc(1vw + .5rem);


}

h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    font-size: 10vh;
    color: rgb(230, 230, 230);
}

    
    
     


.links{
    
    
    border: solid 1px;
    margin: 10px;
    padding: 5px;
    position:absolute;
    top: 0;
    right: 0;
}
.searchbar {
    display: flex;
    
    
    padding: 5px;
    margin: 5px;
}

.text{
    font-size: calc(1vw + .5rem);
    background: white;
    border: solid black 2px;
    border-radius: 5px;
    
}

.searchbar4 {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
}
